


<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="card">

<h1>Dashboard</h1>

<h3>Welcome {{email}}</h3>

<div class="cards">

<div class="feature-card">
<h3>Profile</h3>
<p>User information</p>
</div>

<div class="feature-card">
<h3>Settings</h3>
<p>Account settings</p>
</div>

<div class="feature-card">
<h3>Security</h3>
<p>Password & login</p>
</div>

</div>

<br>

<a href="/logout">
<button>Logout</button>
</a>

</div>

<script src="/static/app.js"></script>

</body>
</html>